@media(max-width: 991px){
    .portfolio-section .portfolio-item,
    .service-section .service-item{
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media(max-width: 767px){
    .contact-section .w-50,
    .contact-section .contact-item,
    .portfolio-popup .description ,
    .portfolio-popup .info,
    .portfolio-section .portfolio-item,
    .service-section .service-item,
    .about-section .skills .skill-item,
    .about-section .about-info,
    .about-section .about-img,
    .home-section .home-text,
    .home-section .home-img{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .home-section .home-text{
        order: 2;
    }
    .contact-section .submit-btn,
    .home-section .home-text{
        text-align: center;
    }
    .home-section .full-screen{
        padding: 100px 0;
    }
    .home-section .home-img .img-box{
        margin-bottom: 40px;
        max-width: 350px;
    }
    .home-section .home-text h1{
        display: inline;
    }
    .home-section .home-text h1 .content{
       margin-left: 20px; 
       padding-bottom: 30px;   
    }
    .effect-2{
        top: 65%;
    }
    .effect-3{
        margin-left: -60px;
    }
    .effect-4{
        left: 6%;
    }
    .effect-5{
        right: 7%;
    }
    .effect-6{
        left: 69%;
        top: 75%;
    }
    .effect-7{
        top: 40%;
    }
    .effect-8{
        left: 70%;
    }
    .effect-9{
        left: 30%;
        top: 70%;
    }
.home-section .home-text h1 span{
    font-size: 0.6em;
}

    .about-section .about-img{
        padding-bottom: 30px;
    }
    .about-section .about-img .img-box {
        max-width: 550px;
        margin-left: 6%;
    }
    .about-section .timeline .timeline-item:nth-child(odd){
        padding-right: 15px;
        text-align: left;
        padding-left: 75px;
    }
    .about-section .timeline .timeline-item:nth-child(even){
        padding-left: 75px;
    }
    .about-section .timeline:before{
        left: 35px;
    }
    .about-section .timeline .timeline-item:nth-child(odd) .icon{
        right: auto;
        left: -60px;
    }
    .about-section .timeline .timeline-item:nth-child(even) .icon{
        left: -60px;
    }
    .about-section .timeline .timeline-item{
        margin-bottom: 40px;
    }
    .about-section .timeline .timeline-item:last-child{
        margin-bottom: 0;
    }
    .about-section .timeline .timeline-item:nth-child(odd) .timeline-item-inner:before{
        left: -30px;
        right: auto;
    }
    .set2
    {
        display: none;
    }
    .set3
    {
        display: none;
    }
    .set{
        position: absolute;
        width: 65%;
        height: 65%;
        top: 0;
        left: 0;
    }
}
@media(max-width: 767px){
    .home-section .home-img .img-box{
        max-width: 260px;
    }

    .effect-8{
        left: 65%;
        top: 40%;
    }
    .home-section .home-text h1{
        font-size: 40px;
    }
    .home-section .home-text h2{
        font-size: 20px;
    }
}